{extend name='common/container'}
{block name="content"}
<div :style="!urlobj.dialogstate ? 'margin:0 15px 15px 15px;':''">
<el-card shadow="never" :style="!urlobj.dialogstate ? 'min-height:80vh':'margin:0;padding:0;min-height:100vh'">
<div v-if="search_visible" id="search" class="search" style="margin-bottom:10px;">
	<el-form ref="form" size="small" :model="searchData" inline>
		<el-form-item label="角色名称">
			<el-input id="name" v-model="searchData.name"  style="width:150px;" placeholder="请输入角色名称"></el-input>
		</el-form-item>
		<el-form-item label="状态">
			<el-select style="width:150px" v-model="searchData.status" filterable clearable placeholder="请选择">
				<el-option key="0" label="正常" value="1"></el-option>
				<el-option key="1" label="禁用" value="0"></el-option>
			</el-select>
		</el-form-item>
		<search-tool :page_data.sync="page_data" :search_data.sync="searchData" @refesh_list="index"></search-tool>
	</el-form>
</div>
<div v-if="filterGroupButtons && filterGroupButtons.length > 0" class="btn-group" style="margin-bottom:10px;">
	<div>
		<el-button v-for="item in filterGroupButtons" :key="item.access" :disabled="$data[item.disabled]" :type="item.color" size="mini" :icon="item.icon" @click="fn(item.clickname,'')">
			<span v-if="item.batch" v-text="$data['batchUpdateStatus']?'批量保存':'批量编辑'"></span>
			<span v-else v-text="item.name"></span>
		</el-button>
	</div>
	<div><table-tool tableid="role" :search_visible.sync="search_visible"   @refesh_list="index"></table-tool></div>
</div>
<el-table id="role" :row-class-name="rowClass" @selection-change="selection"  @row-click="handleRowClick"  row-key="role_id"  :header-cell-style="{ background: '#eef1f6', color: '#606266' }" @sort-change='sortChange' v-loading="loading"  ref="multipleTable" border class="eltable" :data="list"  style="width: 100%">
	<el-table-column align="center" type="selection" width="42"></el-table-column>
	<el-table-column align="center" type = '' property="role_id"  label="编号"  width="70">
	</el-table-column>
	<el-table-column align="center"  property="name"  label="角色名称"  width="110">
	</el-table-column>
	<el-table-column align="center"  property="status"  label="状态"  width="110">
		<template slot-scope="scope">
			<el-switch @change="updateExt(scope.row,'status')" :active-value="1" :inactive-value="0" v-model="scope.row.status"></el-switch>
		</template>
	</el-table-column>
	<el-table-column align="left"  property="description"  label="描述"  width="">
	</el-table-column>
	<el-table-column :fixed="ismobile()?false:'right'" label="操作" align="center" width="190">
		<template slot-scope="scope">
			<div v-if="scope.row.role_id">
				<el-button v-for="item in filterListButtons" :key="item.access" :type="item.color" size="mini" :icon="item.icon" @click="fn(item.clickname,scope.row)">
					{{item.name}}
				</el-button>
			</div>
		</template>
	</el-table-column>
</el-table>
<Page :total="page_data.total" :page.sync="page_data.page" :limit.sync="page_data.limit" @pagination="index" />
</el-card>

<!--添加-->
<Add :show.sync="dialog.addDialogStatus" size="small" @refesh_list="index"></Add>
<!--修改-->
<Update :info="updateInfo" :show.sync="dialog.updateDialogStatus" size="small" @refesh_list="index"></Update>

</div>

{/block}
{block name="script"}
<script src="__PUBLIC__/assets/js/app.js"></script>
<script src="__PUBLIC__/components/admin/role/add.js?v=<?php echo rand(1000,9999)?>"></script>
<script src="__PUBLIC__/components/admin/role/update.js?v=<?php echo rand(1000,9999)?>"></script>
<script>
new Vue({
	el: '#app',
	components:{
	},
	data: function() {
		return {
			dialog: {
				addDialogStatus : false,
				updateDialogStatus : false,
			},
			searchData:{},
			button_group:[
				{
					name:'添加',
					color:'success',
					access:'/admin/Role/add.html',
					icon:'el-icon-plus',
					disabled:'',
					clickname:'add',
					showGroup:true,
				},
				{
					name:'修改',
					color:'primary',
					access:'/admin/Role/update.html',
					icon:'el-icon-edit',
					disabled:'single',
					clickname:'update',
					showGroup:true,
					showList:1,
				},
				{
					name:'删除',
					color:'danger',
					access:'/admin/Role/delete.html',
					icon:'el-icon-delete',
					disabled:'multiple',
					clickname:'del',
					showGroup:true,
					showList:1,
				},
			],
			loading: false,
			page_data: {
				limit: 20,
				page: 1,
				total:20,
			},
			order:'',
			sort:'',
			ids: [],
			single:true,
			multiple:true,
			search_visible:false,
			list: [],
			updateInfo:{},
		}
	},
	computed: {
		filterGroupButtons() {
			return this.button_group.filter(item => item.showGroup && checkPermission(item.access,"{:implode(',',session('admin.access'))}","{:session('admin.role_id')}",[1]));
		},
		filterListButtons() {
			return this.button_group.filter(item => item.showList == 1 && checkPermission(item.access,"{:implode(',',session('admin.access'))}","{:session('admin.role_id')}",[1]));
		},
		filterOtherButtons() {
			return this.button_group.filter(item => item.showList == 2 && checkPermission(item.access,"{:implode(',',session('admin.access'))}","{:session('admin.role_id')}",[1]));
		},
	},
	methods:{
		index(){
			let param = {limit:this.page_data.limit,page:this.page_data.page,order:this.order,sort:this.sort}
			Object.assign(param, this.searchData,this.urlobj)
			this.loading = true
			axios.post(base_url + '/Role/index',param).then(res => {
				if(res.data.status == 200){
					this.list = res.data.data.data
					this.page_data.total = res.data.data.total
					this.loading = false
				}else{
					this.$message.error(res.data.msg);
				}
			})
		},
		updateExt(row,field){
			if(row.role_id){
				axios.post(base_url + '/Role/updateExt',{role_id:row.role_id,[field]:row[field]}).then(res => {
					if(res.data.status == 200){
						this.$message({message: res.data.msg, type: 'success'})
					}else{
						this.$message.error(res.data.msg)
					}
				})
			}
		},
		add(){
			this.dialog.addDialogStatus = true
		},
		update(row){
			let id = row.role_id ? row.role_id : this.ids.join(',')
			axios.post(base_url + '/Role/getUpdateInfo',{role_id:id}).then(res => {
				if(res.data.status == 200){
					this.dialog.updateDialogStatus = true
					this.updateInfo = res.data.data
				}else{
					this.$message.error(res.data.msg)
				}
			})
		},
		del(row){
			this.$confirm('确定操作吗?', '提示', {
				confirmButtonText: '确定',
				cancelButtonText: '取消',
				type: 'warning'
			}).then(() => {
				let ids = row.role_id ? row.role_id : this.ids.join(',')
				axios.post(base_url + '/Role/delete',{role_id:ids}).then(res => {
					if(res.data.status == 200){
						this.$message({message: res.data.msg, type: 'success'})
						this.index()
					}else{
						this.$message.error(res.data.msg)
					}
				})
			}).catch(() => {})
		},
		selection(selection) {
			this.ids = selection.map(item => item.role_id)
			this.single = selection.length != 1
			this.multiple = !selection.length
		},
		handleRowClick(row, rowIndex,event){
			if(event.target.className !== 'el-input__inner'){
				this.$refs.multipleTable.toggleRowSelection(row)
			}
		},
		rowClass ({ row, rowIndex }) {
			for(let i=0;i<this.ids.length;i++) {
				if (row.role_id === this.ids[i]) {
					return 'rowLight'
				}
			}
		},
		sortChange(val){
			if(val.order == 'descending'){
				this.order= 'desc'
			}
			if(val.order == 'ascending'){
				this.order= 'asc'
			}
			this.sort = val.prop
			this.index()
		},
		fn(method,data){
			if(data){
				this[method](data)
			}else{
				this[method](this.ids)
			}
		},
	},
	mounted(){
		this.index()
	},
})
</script>
{/block}
